{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "globals": {
    "fetch": false,
    "localStorage": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/forbid-prop-types": 0
  }
}
