.title-block {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

$blue : #009597;

@mixin buttonBG($bg) {
  border: 2px solid $bg;
  color: $bg;
  &:hover {
    background-color: $bg;
    transition: all 0.3s ease-in-out;
  }
}

.skewBtn{
  width: 100px;
  height: 40px;
  outline: none;
  cursor: pointer;
  background: none;
  transition: .5s;
  font-size: 24px;
  border-radius: 15px;
  font-family: 'Voltaire', sans-serif;
  &:hover{
    border: none;
    color: white;
    font-size: 28px;
    transform:scale(1.1);
  }
}

.blue{
  @include buttonBG($blue);
}

.skewBtn.blue {
  margin-bottom: 25px;
  margin-right: 8px;
}

h1 {
  margin-top: 0;
}

h1, h3 {
  color: #333333;
  font-weight: lighter;
  text-align: center;
}

h3 {
  font-style: italic;
  margin-top: 0;
}

h4 {
  font-weight: lighter;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768.1px) {
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px){
  .main-title {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
  }
  .skewBtn {
    width: 70px;
    height: 40px;
    font-size: 20px;
    &:hover {
      font-size: 22px;
    }
  }
  .skewBtn.blue {
    margin-top: 5px;
    margin-right: 7px;
  }
}

@media only screen and (min-width: 500.1px) and (max-width: 768px) {
  .main-title {
    margin-left: 220px;
  }
  .skewBtn {
    width: 70px;
    height: 40px;
    font-size: 20px;
    &:hover {
      font-size: 22px;
    }
  }
  .skewBtn.blue {
    margin-top: 5px;
    margin-right: 7px;
  }
}

@media only screen and (min-width: 768.1px) and (max-width: 1200px) {
  .main-title {
    margin-left: 270px;
  }
}

@media only screen and (min-width: 1200.1px) {
  .main-title {
    margin-left: 300px;
  }
}
