@media only screen and (max-width: 500px) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  .wrapper-row {
    padding-right: 15px;
    padding-bottom: 20px;
  }
  .wrapper-row:last-child {
    padding-right: 0;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 500.1px) and (max-width: 768px) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  .wrapper-row {
    padding-right: 15px;
    padding-bottom: 20px;
  }
  .wrapper-row:last-child {
    padding-right: 0;
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
  .wrapper-row {
    padding-right: 15px;
    padding-bottom: 20px;
  }
  .wrapper-row:last-child {
    padding-right: 0;
  }
}

@media only screen and (min-width: 1200.1px) {
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  .wrapper-row {
    padding-right: 15px;
    padding-bottom: 20px;
  }
  .wrapper-row:last-child {
    padding-right: 0;
  }
}
